.shell {
  display: flex;
  height: 100%;
  width: 100%;
  background: var(--color-bg);
}

.content {
  display: flex;
  min-width: 0;
  flex: 1 1 0%;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
